h1 {
	font-weight:100; 
}

.profile1 {
	max-width: 300px;
	max-height: 300px;
}

body {
	background: url("../imgs/shard.jpg") no-repeat center center fixed;
	background-size: cover;
	
}

.card {
	margin-top: 20px;
}

